*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 32px;
    background-color: #023b6d;
    color: white;
    display: flex;

}
.nav-logo{
height: 25px;
width: 185px;
}
.logo{
    background-image: url(logo.png);
    background-size: cover;
height: 25px;
width: 185px;
}
h1{
    font-size: 30px;
    margin: 0;
    color: var(--heading-color);
    letter-spacing: 2px;
    
}

/* .add-icon{
    width: 22px;
    height: 22px;
} */